%h2
  Edit #{resource_name.to_s.humanize}

= link_to 'Link with Facebook', '/auth/facebook/', :class => 'zocial facebook' unless current_user && current_user.connected_to_facebook?

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password

  %div 
    = f.label :use_gravatar, :style => 'display:inline-block;'
    = f.check_box :use_gravatar

  %div
    = f.submit "Update", :class => "btn btn-primary"
