- if controller_name != 'sessions'
  %p= button_link_to "Sign in", new_session_path(resource_name)

- if devise_mapping.registerable? && controller_name != 'registrations'
  %p= button_link_to "Sign up", new_registration_path(resource_name)

- if devise_mapping.recoverable? && controller_name != 'passwords'
  %p= button_link_to "Forgot your password?", new_password_path(resource_name)
