.sub
  .user

  - if can? :show, @event
  - invitation = Invitation.new(event: @event, user: user)
    = simple_form_for [@event, invitation], :remote => true, :html => {:onsubmit => "hideThis($(this));"}  do |f|

      = f.input :user_id, :as => :hidden, :input_html => { :value => user.id }
      = f.input :event_id, :as => :hidden, :input_html => { :value => @event.id }
      = f.input :sub_request, :as => :hidden, :input_html => { :value => true }
      = f.button :submit, 'Invite', :class => 'btn-primary'
      = user.display_name
      = image_tag user.avatar_url if user.avatar_url
