.jumbotron
  %h1 This is Teamsubs.  You're welcome.
  %p
    Not much else to say.  This website powers recreational sports invitations better than anything else.  People you know use it (that's why you're here)

.row
  .col-md-4
    %h2
      Get started
    %p
      It takes a few seconds.  If you use Facebook, it may even be shorter.  If you don't, you should.  They made a movie about it for a reason.

  .col-md-4
    %h2
      What we do
    %p
      Think about that sinking feeling that you get when your team asks you where everyone is.  With Teamsubs, you may never hear that question again.  Manage your rosters
      %span.bold better.
      Find other players
      %span.bold faster.

  .col-md-4
    %h2
      Is this website fun?
    %p
      Ummm... No.  Scheduling isn't fun.  Spend less time planning and more time doing with Teamsubs.  If you want a website that will be fun, try watching something on
      %a{:href => "http://www.hulu.com", :target => "_blank"} Hulu
      or
      %a{:href => "http://www.thedailywh.at", :target => "_blank"} The Daily What.

.row
  .col-md-4
    = button_link_to "Create an account", new_user_registration_path

  .col-md-4
    = button_link_to "Create an account", new_user_registration_path
