.actions_grouping
  / planner only options
  - if can? 'edit', @event
    = icon_button_link_to "Edit invitation", edit_event_path(@event), 'edit'

    = icon_button_link_to "Plan next week's game", duplicate_for_next_week_event_path(@event), 'copy'

    = icon_button_link_to "Resend invitations", resend_invitations_event_path(@event), 'bullhorn'

  / all invited users options
  = icon_button_link_to "Invite your subs", show_subs_event_path(@event), 'exchange'

  = icon_button_link_to "Find subs", show_same_day_subs_event_path(@event), 'search'

  = icon_button_link_to "Send Email", new_email_event_path(@event), 'envelope'
  = icon_button_link_to "Add to Google Calendar", google_calendar_url(@event), 'calendar'


  / / amazon ad
  / .amazon_ad
  /   If you're going to purchase anything from Amazon, click through the link below and help support Teamsubs
  /   <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=nohandles-20&o=1&p=21&l=ur1&category=sss&banner=0FWR859ZNRNZ4QXGWDG2&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
