.row
  .col-md-6
    = f.input :title, :required => false
    = f.input :description, :input_html => {:class => 'span4'}
    = f.input :start_time, :as => :ui_date_time_picker

    - sport_id = @event.location ? @event.sport_id : Sport.first.id
    = select_tag "sport", options_from_collection_for_select(Sport.all, "id", "name", selected: sport_id), :onchange => "getLocations(this);", :class => 'form-control'

    = f.input :schedule_link, :label => 'Link to schedule'

    - if @event.location.nil?
      = f.association :location, :collection => Sport.first.locations
    - else
      = f.association :location
    = button_link_to "Location not found??", new_location_path

.row
  .col-md-12
    %h3 Invite Players
    %h4 Primary Rosters are invited immediately.  Others are subs you can invite later.
    = f.simple_fields_for :rosters do |r|
      .col-md-12
        .primary.col-md-12= render 'roster_fields', :f => r


.clearfix
.row
  .col-md-12
    %p= f.link_to_add "Add another roster", :rosters, :primary => true
