.labels.col-md-12.col-xs.12.row.response_counts
  .bg-green.count-box.col-md-3.col-xs-12
    Yes
    .count
      = @event.yes_invitations.count
  .bg-orange.count-box.col-md-3.col-xs-12
    Maybe
    .count
      = @event.maybe_invitations.count
  .bg-red.count-box.col-md-3.col-xs-12
    No
    .count
      = @event.no_invitations.count
  .bg-gray.count-box.col-md-3.col-xs-12
    Not Yet Replied
    .count
      = @event.not_yet_replied_invitations.count

.response_list.col-md-12
  - @event.yes_invitations.each do |invitation|
    = render invitation

  - @event.maybe_invitations.each do |invitation|
    = render invitation

  - @event.no_invitations.each do |invitation|
    = render invitation

  - @event.not_yet_replied_invitations.each do |invitation|
    = render invitation
