.weather
  .temperature
    = "#{weather.currently.temperature.round}&deg;".html_safe
  .summary
    = weather.currently.summary

  .weather_disclaimer
    = link_to "Powered by Forecast", "http://www.forecast.io", target: '_blank'
