= simple_form_for @event, :url => deliver_email_event_path(@event), :method => :put do |f|
  = f.input :email_body, :as => :text, :input_html => {:class => 'span10'}
  = f.association :users, :as => :check_boxes, :collection => @event.users, :label_method => :display_name

  = f.button :submit, 'Send email', :class => 'btn-primary'