#event_details.box.col-md-3.col-xs-12
  #time
    .time= @event.start_time.strftime('%I:%M%P')
  .full
    = @event.planner_user.name
    %br
    = l @event.start_time, :format => :us

#event_location.box.col-md-3.col-xs-12{:style => "background-image:url('#{static_map_url(@event.location)}');"}
  #location
    = render 'locations/multiline', :location => @event.location

#event_weather.box.col-md-3.col-xs-12
  #weather_container
    - weather = @event.weather
    = render 'events/weather', :weather => weather if weather

#response_input.box.col-md-3.col-xs-12{style: 'z-index:10;'}
  #selection
    - if @current_user_invitation
      = form_for @current_user_invitation, :method => 'put', :remote => true, :html => {:class => 'reload'} do |f|
        .col-md-12.btn-group.response_radios{data:{toggle: 'buttons'}}
          %label
            Can you play?
          .clearfix
          %label.btn.btn-primary
            Yes
            = f.radio_button('response', Invitation.yes)
          %label.btn.btn-primary
            No
            = f.radio_button('response', Invitation.no)
          %label.btn.btn-primary
            Maybe
            = f.radio_button('response', Invitation.maybe)
        .clearfix
        = f.text_field :comment,:label => false
      :javascript
        $('input[name="invitation[response]"]').change( function() {
          $(this.form).trigger('submit.rails');
        });


#event_description_and_buttons.box2.col-md-4.col-xs-12
  #title
    = @event.title
  #event_description
    = @event.description
    - if @event.schedule_link
      %p
        %a{:href => @event.schedule_link.to_s, :target => "_blank"} Link to schedule
  #actions
    = render 'buttons'

#event_responses.box2.col-md-8.col-xs-12
  = render "responses"

%p{:style => "clear:both;"}
:javascript
  jQuery("a").attr('data-ajax', 'false');
