:ruby
  case invitation.response
  when Invitation.yes
    @invitation_color = "success"
  when Invitation.no
    @invitation_color = "important"
  when Invitation.maybe
    @invitation_color = "warning"
  else
    @invitation_color = "default"
  end

.invitation.col-md-4.col-xs-12
  .user_image
    .avatar= avatar(invitation.user, "img-circle img-responsive border-#{@invitation_color}")
  .user_name= invitation.user.display_name
  .comment= invitation.comment
  .first_viewed_at
    - if invitation.first_viewed_at
      Viewed:
      = l invitation.first_viewed_at.in_time_zone, :format => :short

  .change= link_to "change response", edit_invitation_path(invitation) if current_user == invitation.event.planner_user
