%table.body
  %tr
    %td.center{align: "center", valign: "top"}
      %center
        %table.container
          %tr
            %td.center{align: "center"}
              %table.row
                %tr
                  %td.wrapper.last
                    %table.twelve.columns
                      %tr
                        %td
                          %h1 Game on!
                          %p.lead You've been asked to sub for a game on Teamsubs
                        %td.expander
              %table.row.callout
                %tr
                  %td.wrapper.last
                    %table.twelve.columns
                      %tr
                        %td.panel
                          %p
                            #sub_description
                            %p You received this email because the organizer of this game indicated that they will need some extra players.  If you dont want to receive subbing requests anymore, please adjust your settings.

                          %p
                            #description
                            %p= @event.description

                          #where
                            %p
                              Where: #{@event.location.name}
                          #when
                            %p
                              When: #{l(@event.start_time, :format => :us)}
                        %td.expander
              %table.row.footer
                %tr
                  %td.wrapper.last{style: 'background-color:white;'}
                    %table.twelve.columns
                      %tr
                        %td.left-text-pad{style: 'background-color:#ebebeb'}
                          %h5 Can you play?
                          %table.tiny-button.green
                            %tr
                              %td
                                = link_to 'Yes', invite_with_token(@invitation, Invitation.yes)
                          %br/
                          %table.tiny-button.red
                            %tr
                              %td
                                = link_to 'No', invite_with_token(@invitation, Invitation.no)
                          %br/
                          If you have trouble reading or displaying this email, you can copy and paste the following address into your browser
                          %p= link_to invite_with_token(@invitation), invite_with_token(@invitation)
                        %td.expander
              / container end below

= image_tag(open_tracker_invitation_url(@invitation))
