%p Thank you for scheduling your last game with Teamsubs

%p= @event.title

%p
  Click
  = link_to "here", duplicate_for_next_week_event_url(@event)
  to plan the invitation for next week's game.

%p= link_to "Link to schedule", @event.schedule_link, :target => "_blank" if @event.schedule_link

%p If you have trouble reading or displaying this email, you can copy and paste the following address into your browser to plan next week's game
%br= duplicate_for_next_week_event_url(@event)