%p
  = @sender.display_name
  sent a note regarding an event on Teamsubs - #{@event.title}

= @body

%p
  Click
  = link_to 'here', invite_with_token(@invitation)
  to view the invitation.
%p
  If you have trouble reading or displaying this email, you can copy and paste the following address into your browser to view the invitation
  %br

  = invite_with_token(@invitation)