%h2 Sign in

%p= link_to 'Sign in using Facebook', '/auth/facebook/', :class => 'zocial facebook' unless current_user && current_user.connected_to_facebook?

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?

    = f.button :submit, "Sign in", :class => "btn"
= render "devise/shared/links"