<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>
  <div class="row">
    <div class="form-inputs col-md-6">
    <%- attributes.each do |attribute| -%>
      <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
    <%- end -%>
    </div>

    <div class="form-actions">
      <%%= f.button :submit %>
    </div>
  </div>
<%% end %>
