/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require zocial
*/

/* colors */
$orange:#ff7518;
$gray:#dfdfdf;
$green:#3fb618;
$red:#ff0039;
$purple:#9954bb;
$teal:#5bc0de;
$blue:#007fff;
$white:#FFFFFF;
$black:#000000;

@import "bootstrap";
@import "font-awesome";

@import "bourbon";

@import 'datetime-picker';
@import 'event';
@import 'home';
@import 'zocial';

.bg-orange {
  background-color: $orange;
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.bg-gray {
  background-color: $gray;
}

.form-control {
  color: black;
}

body {
  background-color:$white;
  font-family: Arial, sans-serif;
}

.seamless {
  margin:0px;
}

.content {
  background-color:white;
  min-height:600px;
}

.nav{
  .avatar {
    width: 50px;
    display: inline-block;
    img{
      max-width:50px;
      max-height:50px;
    }
  }
}

.bold {
  font-weight:bold;
}

footer {
  margin-top: 10px;
}