@mixin half_circle_right($color) {
  height:30px;
  width:15px;
  border-radius: 0 90px 90px 0;
  background:$color;
  position:absolute;
  left:0px;
  bottom:0px;
}

.primary {float:left;}
.clr {@include clearfix;}

.events {
  .border-default{
    box-shadow: 0px 0px 0px 10px $gray;
    -moz-box-shadow: 0px 0px 0px 10px $gray;
    -webkit-box-shadow: 0px 0px 0px 10px $gray;
  }

  .border-success{
    box-shadow: 0px 0px 0px 10px $green;
    -moz-box-shadow: 0px 0px 0px 10px $green;
    -webkit-box-shadow: 0px 0px 0px 10px $green;
  }

  .border-important{
    box-shadow: 0px 0px 0px 10px $red;
    -moz-box-shadow: 0px 0px 0px 10px $red;
    -webkit-box-shadow: 0px 0px 0px 10px $red;
  }

  .border-warning{
    box-shadow: 0px 0px 0px 10px #ff7518;
    -moz-box-shadow: 0px 0px 0px 10px #ff7518;
    -webkit-box-shadow: 0px 0px 0px 10px #ff7518;
  }

  .user_image {
    margin-bottom:10px;
  }

  .user_name {
    text-align:center;
    font-weight: bold;
  }
  .comment {
    text-align:center;
  }

  .box {
    position:relative;
    height: 130px;
    padding: 10px;
    overflow: auto;
    float: left;
    margin-bottom: 20px;
  }

  #event_details{
    background-color: $blue;
    color: $white;
    text-align: center;

    #time {
      .time {
        font-size:48px;
        font-weight:bold;
        margin-top:28px;
      }
    }
    .full {
      position: absolute;
      bottom: 0px;
      font-size:1 4px;
      width: 90%;
      text-align: center;
    }
  }

  #event_location {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    text-align:center;
    color:rgb(21, 81, 151);

    #location {
      height:100%;
      .location_name {
        font-weight: bold;
        font-size:20px;
        background-color:rgba(255,255,255,0.5)
      }
      .location_address {
        font-size:14px;
        text-align:left;
        position:absolute;
        bottom:0px;
        background-color:rgba(255,255,255,0.8)
      }
    }
  }

  #event_weather {
    text-align:center;
    color:white;
    background-color: $purple;

    .weather {
      .temperature {
        font-size: 50px;
        font-weight: bold;
      }
      .summary {
        font-size:20px;
      }
      .weather_disclaimer {
        margin-top: 5px;
        text-align: right;
        text-decoration: underline;
        font-size:12px;
        a {
          color:white;
        }
      }
    }

  }

  .actions_grouping {
    width: 210px;
    margin-bottom: 10px;
    .btn {
      margin-bottom:10px;
      display:block;
    }
  }

  .medium_button_width {
    width: 200px;
  }

  #event_description {
    margin-bottom: 20px;
  }

  #title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }


  #response_input {
    background-color: $teal;
    text-align:center;
  }

  .response_radios {
    text-align:center;
    margin-bottom:2px;
    .btn {
      float:none;
    }
  }

  .count-box {
    color:white;
    margin-bottom:10px;
    .count {
      font-size:48px;
      margin-top: 22px;
      text-align: center;
    }
  }

  .invitation {
    margin-bottom:10px;
    white-space:normal;
    .first_viewed_at {
      font-weight:normal;
      display:inline-block;
      font-size:10px;
      vertical-align:bottom;
    }
  }

  // clear the column properly on col-md
  .col-md-4:nth-child(3n+1){
    clear: left;
  }

  .response_counts {
    margin-bottom:20px;
  }

  .amazon_ad {
    margin-top: 20px;
    font-size:12px;
  }

}

