%nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Teamsubs", root_path, :class => 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li
            = link_to 'Schedule game', new_event_path
          %li
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
          %li
            = link_to 'Edit account', edit_user_registration_path
          - if current_user.admin?
            %li
              = link_to 'Admin', users_path
          - if current_user.connected_to_facebook?
            %li
              .avatar
                %img{:src => (current_user.avatar_url)}
          - else
            %li
              = link_to 'Connect with Facebook', facebook_connect_path

        - else
          %li
            = link_to 'Login', new_user_session_path
          %li
            = link_to 'Sign up', new_user_registration_path
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to 'Contact us', 'mailto:support@teamsubs.com'


