<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Teamsubs"
    %meta{:content => "Teamsubs", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://www.teamsubs.com", :property => "og:url"}/
    %meta{:content => "http://www.teamsubs.com/assets/teamsubs.png", :property => "og:image"}/
    %meta{:content => "Teamsubs", :property => "og:site_name"}/
    %meta{:content => "Scheduling recreational sports sucks less at Teamsubs", :property => "og:description"}/
    %meta{:property => "fb:app_id", :content => "#{ENV['FACEBOOK_APP_ID']}"}
    %meta{:name => "msapplication-config", :content => "none"}
    %link{rel: "apple-touch-icon", href: asset_path('teamsubs.png') }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/smoothness/jquery-ui.css"
    = csrf_meta_tags
    %link{:href => 'http://fonts.googleapis.com/css?family=Metrophobic', :rel => 'stylesheet', :type => 'text/css'}

    = yield(:head)
  %body{:class => [controller.controller_name, controller.action_name]}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6624201-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = render 'common/fb_js'

    = render 'layouts/navigation'

    #main{:role => "main"}
      .container
        .content
          = render 'layouts/messages'
          = yield
        %footer
          %iframe{:border => "0", :frameborder => "0", :height => "90", :marginwidth => "0", :scrolling => "no", :src => "http://rcm-na.amazon-adsystem.com/e/cm?t=teamsubs0a-20&o=1&p=48&l=ur1&category=sports&banner=1X1KH7BDVA8RZBJQEN82&f=ifr&linkID=CTIGVN67QPLDCJP7", :style => "border:none;", :width => "728"}
